- @title = "Search"
- @selected = :search

- form_tag '/search', :method => :get, :id => "search" do
  %p{:style=>"margin-bottom: 2em"}
    = text_field_tag "q", @query, :size => 20, :class => 'textbox'
    %input.button{:type=>"submit", :value => "Go"}/

- if results?
  .records_count= "#{@extensions.size} of #{pluralize(@extensions.total_entries, "result")} for &#8220;#{@query}&#8221;"
  
  = pagination_for @extensions
  
  %table.index#extensions
    %tbody
      = render :partial => "extensions/extension", :collection => @extensions
  
  = pagination_for @extensions