- @title = "Search Radiant CMS Extensions"
- @h1 = "Search"
- @selected = :search

- form_tag '/search', :method => :get, :id => "search" do
  %p{:style=>"margin-bottom: 2em"}
    = text_field_tag "q", @query, :size => 20, :class => 'textbox'
    %button{:type=>"submit"} Go

- if results?
  - if @extensions.total_entries > 0
    .records_count= "#{@extensions.size} of #{pluralize(@extensions.total_entries, "result")} for &#8220;#{@query}&#8221;"
    = pagination_for @extensions
    %table.index#extensions{:style => "clear: both"}
      %tbody
        = render :partial => "extensions/extension", :collection => @extensions
    = pagination_for @extensions
  - else
    .records_count= "0 results for &#8220;#{@query}&#8221;"