%tr[extension]
  - unless defined? hide_screenshot && hide_screenshot
    %td.screenshot
      = image_tag extension.screenshot.url(:thumb), :width=>120
  %td.info
    .name
      = link_to extension.name, extension
      - unless defined? hide_edit && hide_edit
        = link_to "Edit", edit_extension_path(extension), :class=>"action" if can_edit?(extension)
    .description= short_description(extension.description)
    - unless defined? hide_author && hide_author
      .authored
        by
        = link_to_author extension.author