= error_messages_for :extension
%p
  %label
    Name
    %span.hint
      the directory name
  = f.text_field :name
%p
  %label
    Current Version
    %span.hint
      the most recent version number of the extension
  = f.text_field :current_version
%p
  %label
    Homepage
    %span.hint
      where to find out more information, readme (http, (github))
  = f.text_field :homepage
%p
  %label
    Repository URL
    %span.hint
      where to download the latest code (svn, git)
  = f.text_field :repository_url, :size => "50"
%p
  %label
    Download URL
    %span.hint
      where to download a bundled package (tgz, gem)
  = f.text_field :download_url, :size => "50"
%p
  %label
    Installation type
  = f.select :install_type, installation_types_for_select
%p
  %label
    Supports Radiant Version
    %span.hint
      the highest version of radiant with full support
  = f.text_field :supports_radiant_version
%p
  %label
    Description
    %span.hint
      what does it do? (textile allowed)
  ~ f.text_area :description, :size => "50x5"
