#extensions
  - if logged_in?
    %p{:style => "float:right;"}= link_to "Add", new_extension_path, :class => "add-link"
  %h2{:style => "margin-bottom:21px"} Available Extensions
  - @extensions.each do |extension|
    %div[extension]
      %h3.name= link_to extension.name.gsub(/<\/?[^>]*>/, ""), extension
      .description= textilize(extension.description.gsub(/<\/?[^>]*>/, ""))
      .authored
        by
        = link_to extension.author.name.gsub(/<\/?[^>]*>/, ""), author_path(extension.author)
      .homepage
        Home:
        = link_to extension.homepage.gsub(/<\/?[^>]*>/, ""), extension.homepage
      .repository
        URL:
        = link_to extension.repository_url.gsub(/<\/?[^>]*>/, ""), extension.repository_url
      .updated
        Last updated on
        = extension.updated_at.blank? ? extension.created_at.strftime("%B %d, %Y") : extension.updated_at.strftime("%B %d, %Y")
      .clearfix