- @title = "Radiant CMS Extensions"
- @h1 = "Extensions"
- @selected = :extensions

- content_for :actions do
  = link_to( image_tag("/images/plus.png", :class=>"icon") +" Add Extension", new_extension_path, :class => "add_link button")

.records_count= "#{@extensions.size} of #{Extension.count} extensions"

= pagination_for @extensions

%table.index#extensions{:style => "clear: both"}
  %tbody
    = render :partial => "extension", :collection => @extensions

= pagination_for @extensions