- @title = "Extensions"

- content_for :actions do
  = link_to "Add Extension", new_extension_path, :class => "add_link"

.records_count= "#{@extensions.size} of #{Extension.count} extensions"

= will_paginate @extensions, :previous_label => "&laquo; Prev", :next_label => "Next &raquo;"

#extensions
  - @extensions.each do |extension|
    %div[extension]
      %h3.name
        = link_to extension.name, extension
        = link_to "Edit", edit_extension_path(extension), :class=>"action" if can_edit?(extension)
      .description= short_description(extension.description)
      .authored
        by
        = link_to extension.author.name, author_path(extension.author)

= will_paginate @extensions