%div[@extension]
  %h2
    Extension:
    = @extension.name.gsub(/<\/?[^>]*>/, "")
  %table.attributes
    %tr
      %th.label#author
        Author
      %td
        = @extension.author.name.gsub(/<\/?[^>]*>/, "")
        = mail_to @extension.author.email.gsub(/<\/?[^>]*>/, ""), nil, :encode => :hex
    - unless @extension.homepage.blank?
      %tr
        %th.label Homepage
        %td
          = link_to @extension.homepage.gsub(/<\/?[^>]*>/, ""), @extension.homepage
    - unless @extension.repository_url.blank?
      %tr
        %th.label Repository
        %td
          = link_to @extension.repository_url.gsub(/<\/?[^>]*>/, ""), @extension.repository_url
    - unless @extension.download_url.blank?
      %tr
        %th.label Download
        %td
          = link_to @extension.download_url.gsub(/<\/?[^>]*>/, ""), @extension.download_url
    %tr
      %th.label#description
        Description
      %td
        = textilize(@extension.description.gsub(/<\/?[^>]*>/, ""))
  - if current_author == @extension.author
    %p
      = link_to "Edit", edit_extension_path(@extension)
      = link_to "Delete", extension_path(@extension), :method => :delete
      