- @title = h(@extension.name)
- h1 = h(@extension.name)
- h1 << " #{link_to "Edit", edit_extension_path(@extension), :class => 'action'}" if can_edit?(@extension)
- @h1 = h1
- @selected = :extensions

.screenshot
  = link_to image_tag(@extension.screenshot.url(:medium)), @extension.screenshot.url(:large)

.big{:style=>"width: 75%"}
  = sanitize(textilize(@extension.description.to_s))

%table.attributes{:style=>"width: 75%"}
  %tr
    %th Author
    %td= link_to @extension.author.name, @extension.author
  - unless @extension.homepage.blank?
    %tr
      %th Website
      %td= link_to @extension.homepage, @extension.homepage
  - unless @extension.repository_url.blank?
    %tr
      %th Repository
      %td= link_to @extension.repository_url, @extension.repository_url
  - unless @extension.download_url.blank?
    %tr
      %th Download
      %td= link_to @extension.download_url, @extension.download_url

- if can_edit?(@extension)
  %p
    = link_to(image_tag("trash.png", :class => "icon") + " Delete", extension_path(@extension), :method => :delete, :confirm => "Are you sure you want to delete this extension?", :class => "button")