- @title = h(@extension.name)

.screenshot
  = link_to image_tag(@extension.screenshot.url(:thumb)), @extension.screenshot.url(:medium)

.big
  = sanitize(textilize(@extension.description.to_s))

%table.attributes
  %tr
    %th.label#author
      Author
    %td
      = h @extension.author.name
      = mail_to @extension.author.email, nil, :encode => :hex
  - unless @extension.homepage.blank?
    %tr
      %th.label Homepage
      %td
        = link_to @extension.homepage, @extension.homepage
  - unless @extension.repository_url.blank?
    %tr
      %th.label Repository
      %td
        = link_to @extension.repository_url, @extension.repository_url
  - unless @extension.download_url.blank?
    %tr
      %th.label Download
      %td
        = link_to @extension.download_url, @extension.download_url

- if can_edit?(@extension)
  %p
    = link_to "Edit", edit_extension_path(@extension)
    = link_to "Delete", extension_path(@extension), :method => :delete