- @title = h(@extension.name)
- @title << " extension" unless @title.match(/extension/)
- @title << " - Radiant CMS"
- h1 = h(@extension.name)
- h1 << " #{link_to "Edit", edit_extension_path(@extension), :class => 'action'}" if can_edit?(@extension)
- @h1 = h1
- @selected = :extensions

.screenshot
  = link_to image_tag(@extension.screenshot.url(:medium)), @extension.screenshot.url(:large)

.big{:style=>"width: 75%"}
  = sanitize(textilize(@extension.description.to_s))

%table.attributes{:style=>"width: 75%"}
  %tr
    %th Author
    %td= link_to_author @extension.author
  - unless @extension.homepage.blank?
    %tr
      %th Website
      %td= link_to h(@extension.homepage), @extension.homepage
  - unless @extension.repository_url.blank?
    %tr
      %th Repository
      %td= link_to h(@extension.repository_url), @extension.repository_url
  - unless @extension.download_url.blank?
    %tr
      %th Download
      %td= link_to h(@extension.download_url), @extension.download_url
  - unless @extension.supports_radiant_version.blank?
    %tr
      %th Supports
      %td= "Radiant #{h @extension.supports_radiant_version}"
  %tr
    %th Record Created
    %td
      = @extension.created_at.to_date.to_s(:long)
      = "(#{time_ago_in_words(@extension.created_at)} ago)"
  - if @extension.updated_at > @extension.created_at + 1.day
    %tr
      %th Last Updated
      %td
        = @extension.updated_at.to_date.to_s(:long)
        = "(#{time_ago_in_words(@extension.updated_at)} ago)"

- unless @extension.installation_steps.blank?        
  %h2 Installation
  %p.installation 
    = @extension.installation_steps  
   

- if can_edit?(@extension)
  %p
    = link_to(image_tag("trash.png", :class => "icon") + " Delete", extension_path(@extension), :method => :delete, :confirm => "Are you sure you want to delete this extension?", :class => "button")

.screenshot-zoom
  = image_tag(@extension.screenshot.url(:large))
  = link_to "close", "#"
