- @title = h(@extension.name)

.screenshot
  = link_to image_tag(@extension.screenshot.url(:medium)), @extension.screenshot.url(:large)

.big
  = sanitize(textilize(@extension.description.to_s))

%table.attributes
  %tr
    %th Author
    %td= link_to @extension.author.name, extension_url(@extension)
  - unless @extension.homepage.blank?
    %tr
      %th Website
      %td= link_to @extension.homepage, @extension.homepage
  - unless @extension.repository_url.blank?
    %tr
      %th Repository
      %td= link_to @extension.repository_url, @extension.repository_url
  - unless @extension.download_url.blank?
    %tr
      %th Download
      %td= link_to @extension.download_url, @extension.download_url

- if can_edit?(@extension)
  %p
    = link_to "Edit", edit_extension_path(@extension)
    = link_to "Delete", extension_path(@extension), :method => :delete