- @title = "Extension Authors"
- @selected = :authors

.records_count= "#{@authors.size} of #{Author.extension_authors_count} authors"

= will_paginate @authors

%table.index#authors{:border=>0, :cellpadding=>0, :cellspacing=>0}
  %tbody
    - @authors.each do |author|
      %tr[author]
        %td.avatar
          = image_tag gravatar_url(author.email), :width=>80, :height=>80, :alt=>""
        %td.info
          .name
            = link_to h(author.name), author
            = link_to "Edit", edit_author_path(author), :class=>"action" if can_edit?(author)
          .extensions_count
            = "#{author.extensions_count} extensions"
        %td.available_for_hire
          - if author.available_for_hire?
            %span.badge Available for Hire

= will_paginate @authors