- @title= h(@author.full_name)
- h1 = h(@author.full_name)
- h1 << " #{link_to "Edit", edit_author_path(@author), :class => 'action'}" if can_edit?(@author)
- @h1 = h1

.full_size_avatar
  = image_tag gravatar_url(@author.email, :size => 182), :width=>182, :height=>182, :alt=>""

.bio
  = sanitize(textilize(@author.notes.to_s))

%table.attributes{:style=>"width: 75%"}
  %tr
    %th.label Email
    %td.value= mail_to(@author.email, nil, :encode => :javascript)
  %tr
    %th.label Website or Blog
    %td.value= link_to h(@author.website), h(@author.website) if @author.website
  / %tr
  /   %th.label Company
  /   %td.value
  / %tr
  /   %th.label Location
  /   %td.value

- if @author.available_for_hire?
  %p{:style=>"margin: 1.5em 0"}
    %span.badge Available for Hire

- if @author.extensions_count > 0
  %h4= "Extensions <small>(#{ @author.extensions_count })</small>"
  %ul
    - for extension in @author.extensions
      %li[extension]= link_to h(extension.name), extension