- @title= h(@author.full_name)
- h1 = h(@author.full_name)
- h1 << " #{link_to "Edit", edit_author_path(@author), :class => 'action'}" if can_edit?(@author)
- @h1 = h1
- @selected = :authors

.full_size_avatar
  = image_tag gravatar_url(@author.email, :size => 182), :width=>182, :height=>182, :alt=>""
  %p.caption
    Avatar provided by <a href="http://gravatar.com">Gravatar.com</a>

.big{:style=>"width: 75%"}
  = sanitize(textilize(@author.notes.to_s))

%table.attributes{:style=>"width: 75%"}
  %tr
    %th.label Email
    %td.value= mail_to(@author.email, nil, :encode => :javascript)
  - unless @author.website.blank?
    %tr
      %th.label Website/Blog
      %td.value= link_to h(@author.website), h(@author.website) if @author.website
  - unless @author.company.blank?
    %tr
      %th.label Company
      %td.value= h @author.company
  - unless @author.location.blank?
    %tr
      %th.label Location
      %td.value= h @author.location
  %tr
    %th.label Member Since
    %td.value
      = @author.created_at.to_date.to_s(:long)
      = "(#{time_ago_in_words(@author.created_at)})"

- if @author.available_for_hire?
  %p{:style=>"margin: 1.5em 0"}
    %span.badge Available for Hire

- if @author.extensions_count > 0
  %h3= "Extensions <small>(#{ @author.extensions_count })</small>"
  %table.index#extensions{:style=>"width: 75%"}
    %tbody
      = render :partial => "extensions/extension", :collection => @author.extensions, :locals => {:hide_author => true, :hide_edit => true}