- @title = "Radiant CMS Extension Registry"
- @h1 = ''
- @selected = :home

- content_for :head do
  %h1 Find, Browse, and Share&#8230;
  %p
    Radiant CMS extensions for almost every need. Radiant is the no-fluff content management system
    built on Ruby on Rails.
  - form_tag "/search", :method => "get", :id => "search" do
    %p
      %label{:for=>"q"} Search
      %input.search{:name=>"q", :id=>"q", :type=>"text"}/

%h2= %{New Extensions <a href="/extensions.atom">#{ image_tag('feed_icon.png', :class=> 'icon') }</a>}

%table.index#extensions.mini
  %tbody
    = render :partial => "extensions/extension", :collection => @extensions, :locals => { :hide_author => true }

%p.more
  %span= link_to "More Extensions", extensions_path

- content_for :sidebar do
  %h2 Extension Authors
  
  %table.index#authors.mini{:border=>0, :cellpadding=>0, :cellspacing=>0}
    %tbody
      - for author in @authors
        %tr[author]
          %td.avatar
            = image_tag gravatar_url(author.email), :width=>64, :height=>64, :alt=>""
          %td.info
            .name
              = link_to_author author
              - unless defined? hide_edit && hide_edit
                = link_to "Edit", edit_author_path(author), :class=>"action" if can_edit?(author)
            .extensions_count
              = pluralize(author.extensions_count, "extension")
  
  %p.more
    %span= link_to "More Authors", authors_path
