!!! Strict
%html
  %head
    %title= @title
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults
    %link{:href => "/extensions.atom", :rel => "alternate", :type => "application/atom+xml", :title => "Radiant Extension Registry"}
  %body{:id => "#{@controller.controller_name}_#{@controller.action_name}"}
    #header_wrapper
      #header
        #logo 
          .title Radiant CMS
          .subtitle Extension Registry
          .parent_site= link_to "RadiantCMS.org", "http://radiantcms.org"
    #navigation_wrapper
      #navigation
        .account_links
          - if logged_in?
            = "Welcome back #{ link_to h(current_author), profile_path, :class => (@selected == :profile ? "here" : nil) }!"
            &nbsp;
            = link_to "Logout", logout_url
          - else
            = link_to "Signup", signup_url, :class => ("here" if @selected == :signup)
            or
            = link_to "Login", login_url, :class => ("here" if @selected == :login)
        %ul.primary_links
          %li#index_link{:class => ("here" if @selected == :home)}
            = link_to "Home", root_path
          %li#index_link{:class => ("here" if @selected == :extensions)}
            = link_to "Extensions", extensions_path
          %li#authors_link{:class => ("here" if @selected == :authors)}
            = link_to "Authors", authors_path
          %li#search_link{:class => ("here" if @selected == :search)}
            = link_to "Search", search_path
    - if content_for? :head
      #head_wrapper
        #head
          = yield :head
    #main_wrapper
      #main{:class => ("content_with_sidebar" if content_for? :sidebar)}
        #content
          - flash.keys.each do |key|
            %p{:id=>key}= flash[key]
          - if content_for? :actions
            #actions
              = yield :actions
          - unless (@h1 || @title).blank?
            %h1= @h1 || @title
          = yield
        - if content_for? :sidebar
          #sidebar
            = yield :sidebar
    #footer_wrapper
      #footer
        %p
          The <a href="http://github.com/radiant/radiant-extension-registry">source code</a> for this website is available on GitHub.
          Contact us on the <a href="http://radiantcms.org/mailing-list">Radiant CMS mailing list</a> if you are interested in contributing, or just send us a pull request.
          Please direct bug reports, feature requests, and comments to the GitHub <a href="http://github.com/radiant/radiant-extension-registry/issues">issue tracker</a>.
        %p
          Hosting is graciously provided by the kind folks at <a href="http://avlux.net">AVLUX</a>.
        %p
          = "Copyright &copy; 2008&#8211;#{Date.today.year} #{ link_to 'John W. Long', 'http://wiseheartdesign.com' } and #{ link_to 'Sean Cribbs', 'http://seancribbs.com' }."
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-301205-6");
        pageTracker._trackPageview();
      } catch(err) {}
