!!! Strict
%html
  %head
    %title 
      Radiant CMS - Extension Registry
      = !@extension.blank? && !@extension.new_record? ? "- #{h(@extension.name)}" : ""
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults
    %link{:href => "/extensions.atom", :rel => "alternate", :type => "application/atom+xml", :title => "Radiant Extension Registry"}
  %body{:id => "#{@controller.controller_name}_#{@controller.action_name}"}
    #page
      #header
        #logo 
          .title Radiant CMS
          .subtitle Extension Registry
          .parent_site= link_to "RadiantCMS.org", "http://radiantcms.org"
        %ul#account{:class => logged_in? ? "in" : "out"}
          - if logged_in?
            %li#account_link= link_to "My Profile", current_author
            %li#logout_link.last= link_to "Logout", logout_url
          - else
            %li#signup_link= link_to "Signup", signup_url
            %li#login_link.last= link_to "Login", login_url
        %ul#navigation
          %li#index_link= link_to "Extensions", extensions_path
          %li#authors_link= link_to "Authors", authors_path
          %li#search_link= link_to "Search", search_path
      #main
        #content
          - if content_for? :actions
            #actions
              = yield :actions
          - if @h1 || @title
            %h1= @h1 || @title
          - flash.keys.each do |key|
            %p{:id=>key}= flash[key]
          = yield
      #footer
        %p
          Copyright &copy;
          = "2008&#8211;#{Date.today.year}"
          the Radiant CMS development team.<br />
          = link_to "Radiant CMS", "http://radiantcms.org"
          is copyright &copy;
          = "2006&#8211;#{Date.today.year}"
          John W. Long and Sean Cribbs.
